<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <link rel="shortcut icon" href="{% static 'logos/preview.ico'%}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link rel="stylesheet" href="style.css">
  <title>MLB Statistics</title>
</head>

<body background="https://secure.milb.com/assets/images/8/4/4/290288844/cuts/1280x720/cut.jpg"
  style="background-repeat: yes-repeat; background-size: 100%">
  <nav class="black" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="../" class="brand-logo">Home</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Search By Player</a></li>
        <li><a href="/teamList.html">Search By Team</a></li>
      </ul>
    </div>
  </nav>
  <br><br><br><br>
  
  <div style="margin: auto; width: 50%" class="card-panel teal lighten-2  white-text">
    <p>
      Welcome Visitors! <br><br>
      This is the first stop to getting to know how your 
      favorite teams and players are performing in America's favorite past time!<br><br>
      Please visit the links to the other pages and check out our layout of 
      everything that matters. <br><br>
      Don't forget to share this page with your friends!<br><br> 
      Scroll down for news content!
      
    </p>
  </div>
  <br> <br> <br>
  <div style="margin:auto; width:50%">
    <a class="twitter-timeline" href="https://twitter.com/MLB?ref_src=twsrc%5Etfw">Tweets by MLB</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
 
</body>

</html>