<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>{{player.name_display_first_last}}</title>
</head>

<body>
    <h1 class="header center teal-text text-lighten-2">{{player.name_display_first_last}}</h1> 
    {% if playerStats == None %}
    <h2> No stats could be found for this player </h2>
    {% else %}
    <table class="striped">
        <thead>
          <tr>
            <th>Stat/Info</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
            {% for stat, value in playerStats.items %}
            <tr> 
                <td>{{stat }}</td>
                <td> {{value}} </td> 
            </tr>
            {% endfor %}
        </tbody>
      </table>
     {% endif %}      
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>