<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <link rel="shortcut icon" href="{% static 'logos/preview.ico'%}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link rel="stylesheet" href="style.css">
  <title>MLB Statistics</title>
</head>

<body background="https://secure.milb.com/assets/images/8/4/4/290288844/cuts/1280x720/cut.jpg"
  style="background-repeat: yes-repeat; background-size: 100%">
  <nav class="black" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="../" class="brand-logo">Home</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/search.html">Search By Player</a></li>
        <li><a href="/teamList.html">Search By Team</a></li>
      </ul>
    </div>
  </nav>
  <br><br>
  <h1 class="header center card-panel teal white-text "style="margin:auto; width:50%">Search Player Names </h1>
  <br><br>
  <div class="row" style="margin: auto; width: 50%">
    <form class="col s12" method="POST" action="/searchPlayer">
        {% csrf_token %} 
      <input style="background-color: white" type="search" placeholder="  Search By Player Name" name="textField">
      <div style="text-align:center">
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
      </button>
    </div>
    </form>
  </div>
  <br><br>
  <h3 class="header center card-panel teal white-text "style="margin:auto; width:50%"> Some players you might want to search </h3> </h3>
  <div style="margin:auto; width:50%">
    <iframe src="https://www.mlb.com/news/top-100-mlb-players-for-2019-c303970816"  style="margin:auto; width:100%; height:800px" ></iframe>
  </div>
  
 
</body>

</html>