<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <link rel="shortcut icon" href="{% static 'logos/preview.ico'%}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link rel="stylesheet" href="style.css">
  <title>MLB Statistics</title>
</head>

<body background="https://secure.milb.com/assets/images/8/4/4/290288844/cuts/1280x720/cut.jpg"
  style="background-repeat: yes-repeat; background-size: 100%">
  <nav class="black" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="../" class="brand-logo">Home</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/search.html">Search By Player</a></li>
        <li><a href="/teamList.html">Search By Team</a></li>
      </ul>
    </div>
  </nav>
  {% if player == None %}
  <h2> No player found </h2>
  {% else %}
  <br> <br> <br>
  <div class="collection">
  <a href ="{% url 'player' parameter=player.player_id %}" style="text-align: center"class=  "collection-item">{{ player.name_display_first_last }} | {{player.position_txt}} </a>
  </div>
  {% endif %}
</body>

</html>